<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Mode</title>
    <style>
        .main {
            font-family: Arial, Helvetica, sans-serif;
            margin: 6rem auto;
            width: 50rem;
            background-color: white;
            text-align: center;
            padding: 4rem;
            color: green;
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 1);
        }
        .para {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>We'll be back soon!</h1>
        <p class="para">Our app is currently under maintenance <br>
            Please check back later.
        </p>
    </div>
</body>
</html>